* {
  box-sizing: border-box;
}

.signup-page {
  height: 100vh;
  display: flex;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  &__left-side {
    width: 65%;
    height: 100%;
    background: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__right-side {
    color: white;
    width: 35%;
    height: 100%;
    background: #1f51ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__right-side-content {
    padding: 3.5rem;
  }

  &__heading-text {
    text-align: left;
    font-size: 32px;
    font-weight: 700;
  }

  &__normal-text {
    font-size: 17px;
    text-align: left;
    margin-top: 2rem;
  }
}

// Responsive

@media (max-width: 800px) {
  .signup-page {
    display: block;
    height: auto;
  }

  .signup-page__left-side,
  .signup-page__right-side {
    width: 100%;
  }
}
